body {
	font-family: 'Megrim', cursive;
	background-color: #dddddd;
}

nav {
	background-color: #ff3a00;
}

div {
	font-size: 25px;
}

label {
	font-size: 15px;
}

.container {
	width: 80%;
}

#main-title {
	font-size: 40px;
}

#artist-input {
	margin-top: 100px;
	text-align: center;
	color: black;
	font-size: 30px;
}

.btn, .btn-large {
	background-color: #ff3a00;
}

.btn:hover, .btn-large:hover {
	background-color: #ff3a00;
}

#artist-input:focus {
  border-bottom: 1px solid orange;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
}

.api-font {
	font-family: 'Poiret One', cursive;
}

#title {
	color: #26a69a;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 0px;
    background-color: #ff3a00;
}

#footer {
	font-size: 20px;
}